<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/scss/structure.css">
</head>
<body>
<%- include('./includes/header.ejs') %>
<main>
    <section class="intro">
        <div class="intro__preview">
            <h2 class="intro__preview--title">Ace Battle Association</h2>
            <div class="intro__preview--overlay"></div>
        </div>
    </section>
    <section class="structure">
        <div class="structure__title">
            <h1>
                Structure
            </h1>
        </div>
        <div class="structure__content">
            <h3>Yuri Podnebesnyi - President</h3>
            <h3>Oleksiy Kulivets - Vice President</h3>
            <h3>Sergey Sek - Secretary</h3>
            <h3>Nikita - Administrator</h3>
            <h3>Oleg Schumacher - Financial Director</h3>
            <h3>Vitaliy Sabulyak - Director of Refereeing Regulations / Sporting Regulations Officer</h3>
        </div>
    </section>
</main>
<%- include('includes/footer.ejs') %>
<%- include('includes/menu.ejs') %>
<%- include('includes/end.ejs') %>