<!-- @format -->

<%- include('includes/head.ejs') %>
<!--<link rel="stylesheet" href="css/about.css"/>-->
<link rel="stylesheet" href="scss/about.css"/>
<link rel="stylesheet" href="/scss/goals.css">
<link rel="stylesheet" href="/scss/stepper.css">
</head>
<body>
<%- include('includes/header.ejs') %>
<main>
    <div class="about__intro">
        <h1 class="about__intro--title">Ace Battle Association</h1>
        <ul class="about__intro--list">
            <li class="about__intro--list_item">
                <p>
                    Running
                </p>
            </li>
            <li class="about__intro--list_item">
                <p>
                    Team-spirit
                </p>
            </li>
            <li class="about__intro--list_item">
                <p>
                    High-tech
                </p>
            </li>
            <li class="about__intro--list_item">
                <p>
                    Adrenaline
                </p>
            </li>
        </ul>
        <img class="about__intro--image" src="/img/running_girls.jpg" alt="running girls"/>
    </div>
    <div class="goals">
        <div class="goals__overview">
            <h2 class="goals__overview--title">New team running sport game</h2>
            <div class="goals__overview--item first">
                <h1 class="goals__overview--item_title">modern</h1>
            </div>
            <div class="goals__overview--item">
                <h1>dynamic</h1>
            </div>
            <div class="goals__overview--item">
                <h1>spectacular</h1>
            </div>
        </div>
        <div class="goals__wrapper">
            <div class="goals__wrapper--image">
                <h1>Goals</h1>
                <img src="/img/goals-img.jpg" alt="goals">
            </div>
            <ul class="goals__wrapper--list">
                <li class="goals__wrapper--list--item">Sportive
                    <br><span>(competitive, athletic, hardly predictable)</span></li>
                <li class="goals__wrapper--list--item">Popularizing <br><span>(the health, the new kind of sport and running, the renaissance of  running sport from the individual activity to the global team game)</span>
                </li>
                <li class="goals__wrapper--list--item">Cultural <br><span>(share of run philosophy, lifestyle, fashion, principles of joining, team  building, friendship, support, development of the new subculture)</span>
                </li>
                <li class="goals__wrapper--list--item">Social <br><span>(the new type of time spending, events and entertainments for all family,  col eagues, friends, with celebrity guests and show implants, fan’s  power, actual and influential trend)</span>
                </li>
                <li class="goals__wrapper--list--item">Commercial <br><span>(merchandise realization, sponsors and partners advertising)</span>
                </li>
                <li class="goals__wrapper--list--item">Innovative <br><span>(using of Blockchain technologies and Artificial Intelligence Software)</span>
                </li>
                <li class="goals__wrapper--list--item">Charitable <br><span>(Support of Ukrainian Athletes)</span></li>
            </ul>
        </div>
    </div>
    <!-- stepper -->
    <div class="stepper">
        <div class="stepper__wrapper">
            <ol class="stepper__wrapper--list">
                <li class="stepper__wrapper--list--item active">
                    <p class="active">Some desc text</p>
                </li>
                <li class="stepper__wrapper--list--item">
                    <p>Some desc text</p>
                </li>
            </ol>
        </div>
        <div class="stepper__content">
            <div class="stepper__content--item active">
                <h2>
                    Another team running game
                </h2>
                <div class="stepper__content--item__wrapper">
                    <img src="/img/info.png" alt="about-abc"/>
                    <article>
                        <p>
                            A new 1-mile team sport
                            (1609 meters). Competitions can be held at the stadium, in the arena or in any
                            which other city, according to the goals and objectives of the competition organizers. In
                            the sports room
                            in the team-running game, teams of runners compete with the goal of winning
                            victory and win the battle (a 1-mile running team duel). </p>

                        <p> Sporty
                            team running game designed to unite athletes and popularize
                            running sports, formation of team spirit among children, youth and
                            adults, which will contribute to the integrity of the individual in the collective
                            consciousness and
                            interaction
                        </p>
                    </article>
                </div>
            </div>
            <div class="stepper__content--item">
                <h2>
                    Sports team running game
                </h2>
                <div class="stepper__content--item__wrapper">
                    <img src="/img/info.png" alt="about-abc"/>
                    <p>
                        A new 1-mile team sport
                        (1609 meters). Competitions can be held at the stadium, in the arena or in any
                        which other city, according to the goals and objectives of the competition organizers. In the
                        sports room
                        in the team-running game, teams of runners compete with the goal of winning
                        victory and win the battle (a 1-mile running team duel). </p>

                    <p> Sporty
                        team running game designed to unite athletes and popularize
                        running sports, formation of team spirit among children, youth and
                        adults, which will contribute to the integrity of the individual in the collective consciousness
                        and
                        interaction
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('includes/footer.ejs') %>
<%- include('includes/menu.ejs') %>
<script src="js/about.js"></script>
<script src="js/menu.js"></script>
<script src="js/goals.js"></script>
<script src="js/stepper.js"></script>
<%- include('includes/end.ejs') %>
