<!-- @format -->

<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/scss/competitions.css"/>
<link rel="stylesheet" href="/scss/goals.css">
<link rel="stylesheet" href="/scss/intro.css">
</head>
<body>
<%- include('./includes/header.ejs') %>
<main>
    <section class="intro">
        <div class="intro__article">
            <img src="/img/main_intro.png" alt="main intro">
            <div class="intro__article__content">
                <div class="intro__article__titles">
                    <h1>team</h1>
                    <h1>running</h1>
                    <h1>game</h1>
                </div>
            </div>
        </div>
        <div class="intro__slogan">
            <div class="intro__slogan--item">
                <h2>modern</h2>
            </div>
            <div class="intro__slogan--item">
                <h2>dynamic</h2>
            </div>
            <div class="intro__slogan--item">
                <h2>unpredictable</h2>
            </div>
        </div>
    </section>
    <section class="goals">
        <h1 class="goals__title">
            NEW IMMERSIVE SPORT
        </h1>
        <div class="goals-wrap">
            <img src="/img/goals-img.jpg" alt="goals">
            <dl class="goals-wrap--list">
                <dt class="goals-wrap--list-term">
                    COMPETITION
                </dt>
                <dd class="goals-wrap--list-desc">
                    Brings running to the new level of competitiveness with
                    tactics and real shoulder to shoulder team race.
                </dd>
                <dt class="goals-wrap--list-term">
                    ATTRACTIVE
                </dt>
                <dd class="goals-wrap--list-desc">
                    Exciting event with dynamic development that ... engagement
                </dd>
                <dt class="goals-wrap--list-term">
                    Social
                </dt>
                <dd class="goals-wrap--list-desc">
                    new type of time spending; events and entertainments for all family, colleagues, friends; celebrity guests and participants; fan’s support; modern trend
                </dd>
                <dt class="goals-wrap--list-term">
                    Cultural
                </dt>
                <dd class="goals-wrap--list-desc">
                    share of run philosophy, lifestyle, fashion, principles of joining, team  building, friendship, support, development of the new subculture
                </dd>
                <dt class="goals-wrap--list-term">
                    Sportive
                </dt>
                <dd class="goals-wrap--list-desc">
                    competitive, athletic, hardly predictable
                </dd>
                <dt class="goals-wrap--list-term">
                    Popularizing
                </dt>
                <dd class="goals-wrap--list-desc">
                    the health, the new kind of sport and running, the renaissance of  running sport from the individual activity to the global team game
                </dd>
                <dt class="goals-wrap--list-term">
                    Innovative
                </dt>
                <dd class="goals-wrap--list-desc">
                    using of Blockchain technologies and Artificial Intelligence Software
                </dd>
                <dt class="goals-wrap--list-term">
                    Charitable
                </dt>
                <dd class="goals-wrap--list-desc">
                    Support of Ukrainian Athletes
                </dd>
            </dl>
        </div>
    </section>
    <div class="intro-video">
        <video width="1115" style="width:100%;max-height:100%" autoplay controls muted loop preload="auto">
            <source src="/video/intro-battle.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <section class="competitions">
        <a href="/competitions/cup-benelux">
            <div class="competitions__title">
                <h1>Competitions</h1>
            </div>
            <div class="competitions__item">
                <div class="competitions__item-title">
                    <h1>Benelux</h1>
                    <h1>Cup</h1>
                </div>
                <div class="competitions__item--desc">
                    <p>
                        Cup Benelux is a debut of ABM in Europe. Renaissance of running sport from the individual activity to the global team game.
                    </p>
                </div>
                <div class="competitions__item--overlay">
                    <img src="/img/running-group-dark.svg" alt="running group">
                </div>
            </div>
        </a>
    </section>
</main>
<%- include('includes/footer.ejs') %>
<%- include('includes/menu.ejs') %>
<script src="/js/menu.js"></script>
<%- include('includes/end.ejs') %>
