<!-- @format -->

<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/scss/competitions.css"/>
<link rel="stylesheet" href="/scss/goals.css">
<link rel="stylesheet" href="/scss/intro.css">
</head>
<body>
<%- include('./includes/header.ejs') %>
<main>
    <section class="intro">
       <div class="intro__article">
           <div class="intro__article__slogan">
               <div class="intro__article__slogan--list">
                   <div class="intro__article__slogan--list-item">
                       <h2>
                           Modern
                       </h2>
                   </div>
                   <div class="intro__article__slogan--list-item">
                       <h2>
                           Dynamic
                       </h2>
                   </div>
                   <div class="intro__article__slogan--list-item">
                       <h2>
                           Unpredictable
                       </h2>
                   </div>
               </div>
           </div>
           <div class="intro__article__overlay"></div>
       </div>
        <div class="intro__overlay"></div>
        <div class="intro__desc">
            <div class="intro__desc--list">
                <h1 class="intro__desc--list-item">
                    Team
                </h1>
                <h1 class="intro__desc--list-item">
                    Running
                </h1>
                <h1 class="intro__desc--list-item">
                    Game
                </h1>
            </div>
        </div>
    </section>
    <section class="goals">
        <h1 class="goals__title">
            NEW IMMERSIVE SPORT
        </h1>
        <div class="goals-wrap">
            <img src="/img/goals-img.jpg" alt="goals">
            <dl class="goals-wrap--list">
                <dt class="goals-wrap--list-term">
                    COMPETITION
                </dt>
                <dd class="goals-wrap--list-desc">
                    Brings running to the new level of competitiveness with
                    tactics and real shoulder to shoulder team race.
                </dd>
                <dt class="goals-wrap--list-term">
                    ATTRACTIVE
                </dt>
                <dd class="goals-wrap--list-desc">
                    Exciting event with dynamic development that ... engagement
                </dd>
                <dt class="goals-wrap--list-term">
                    Social
                </dt>
                <dd class="goals-wrap--list-desc">
                    new type of time spending; events and entertainments for all family, colleagues, friends; celebrity guests and participants; fan’s support; modern trend
                </dd>
                <dt class="goals-wrap--list-term">
                    Cultural
                </dt>
                <dd class="goals-wrap--list-desc">
                    share of run philosophy, lifestyle, fashion, principles of joining, team  building, friendship, support, development of the new subculture
                </dd>
                <dt class="goals-wrap--list-term">
                    Sportive
                </dt>
                <dd class="goals-wrap--list-desc">
                    competitive, athletic, hardly predictable
                </dd>
                <dt class="goals-wrap--list-term">
                    Popularizing
                </dt>
                <dd class="goals-wrap--list-desc">
                    the health, the new kind of sport and running, the renaissance of  running sport from the individual activity to the global team game
                </dd>
                <dt class="goals-wrap--list-term">
                    Innovative
                </dt>
                <dd class="goals-wrap--list-desc">
                    using of Blockchain technologies and Artificial Intelligence Software
                </dd>
                <dt class="goals-wrap--list-term">
                    Charitable
                </dt>
                <dd class="goals-wrap--list-desc">
                    Support of Ukrainian Athletes
                </dd>
            </dl>
        </div>
    </section>

    <!-- Competitions -->
    <div class="competitions">
        <div class="competitions__header">
            <h1 class="competitions__header-title">Competitions</h1>
        </div>
        <div class="competitions__items">
            <div class="competitions__items--left-overlay">
            </div>
            <div class="competitions__items--item">
                <a class="competitions__items--item--link" href="/competitions/cup-benelux">
                    <img src="/img/cup-benelux.jpg" alt="cup-benelux"/>
                </a>
                <div class="competitions__items--item_content">
                    <a class="competitions__items--item_content--link" href="/competitions/cup-benelux"><h1>Cup Benelux 2023</h1></a>
                    <p class="competitions__items--item_content--paragraph">
                        Cup Benelux is a debut of ABM in Europe. Renaissance of running
                        sport from the individual activity to the global team game.
                    </p>
                    <div class="competitions__items--item_content--date">
                        <p>24 <span>03/2023</span> - 25 <span>03/2023</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('includes/footer.ejs') %>
<%- include('includes/menu.ejs') %>
<script src="/js/menu.js"></script>
<%- include('includes/end.ejs') %>
