<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/scss/news.css"/>
</head>
<body>
<%- include('./includes/header.ejs') %>
<main>
    <div class="title">
        <h1>news</h1>
    </div>
    <section class="news__list">
        <div class="news__list-item">
            <div class='news__list-item--title'>
                <h3>07 <span>/ 03</span></h3>
                <h4>NO Title</h4>
            </div>
            <div className="news__list-item--topic">
                <p>Professional Teams for competition at the 8 of March</p>
            </div>
        </div>
        <div class="news__list-item">
            <div class='news__list-item--title'>
                <h3>07 <span>/ 03</span></h3>
                <h4>NO Title</h4>
            </div>
            <div className="news__list-item--topic">
                <p>Professional Teams for competition at the 8 of March</p>
            </div>
        </div>
        <div class="news__list-item">
            <div class='news__list-item--title'>
                <h3>07 <span>/ 03</span></h3>
                <h4>NO Title</h4>
            </div>
            <div className="news__list-item--topic">
                <p>Professional Teams for competition at the 8 of March</p>
            </div>
        </div>
        <div class="news__list-item">
            <div class='news__list-item--title'>
                <h3>07 <span>/ 03</span></h3>
                <h4>NO Title</h4>
            </div>
            <div className="news__list-item--topic">
                <p>Professional Teams for competition at the 8 of March</p>
            </div>
        </div>
    </section>
</main>
<%- include('includes/footer.ejs') %>
<%- include('includes/menu.ejs') %>
<script src="/js/menu.js"></script>
<%- include('includes/end.ejs') %>